extends layout

block content
    h1= title
    p Welcome to #{title}

    div
        form(action='/post/fileupload',method='post')
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='name') name
                        input(id='name',type='text',value='',placeholder='@',name='name')
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    label(for='filetoupload') file
                        input(id='filetoupload',type='file',value='',placeholder='',name='filetoupload')
            div(data-role='fieldcontain')
                input(type='submit',value='Upload',data-transition='fade', data-theme='c')
